*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: rgb(99, 97, 97);
}

header{
    background-color: rgb(68, 64, 64);
    padding: 15px;

}

header h1{
    text-align: center;
    color: white;
}

main{
    width: 400px;
    background-color: white;
    margin: auto;
    padding: 15px;
}

li{
    list-style: none;
    background-color: rgb(183, 183, 238);
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
    padding: 7px;
}

.item:hover{
    background-color: brown;
    color: white;
}

#last-item{
    background-color: white;
}

li span {
    float: right;
}